@import '../../style/vars';

.landing {
  width: 100%;
}
section {
  width: 100%;
  overflow: auto;

  #titleName {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5rem;
    margin-top: 1.5;
    text-align: center;
    color: white;
  }

  img {
    height: 150px;
  }
}

#intro {
  background-image: linear-gradient(to bottom right, white, #32CD32, #32CD32);
  // background-image: url('../../assets/landingBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 41em;
  text-align: center;
  padding-top: 20%;

  #description {
    font-size: 1.95em;
    color: white;
  }

  h4 {
    line-height: .75 !important;
    color: white;
  }

  @media (min-width: 660px) {
    height: 300px;

    h2 {
      margin: auto, auto;
      font-size: 2em;
    }
  
    h3 {
      font-size: 1.5em;
    }
  
    h4 {
      font-size: 1.25em;
      line-height: 25%;
    }
  }

  @media (min-width: 900px) {
      height: 400px;
  }
}

.footer {
  height: 35px;
  background-color: black;
  background: $dark-slate;
  text-align: center;
  padding-top: 15px;
  color: $off-white;
    p {
      margin-top: 0;
    }
}

#contact {
  background:$dark-blue;
  color: $off-white;
  min-height: 350px;
  text-align: center;

  a {
    color: $light-blue; 
  }

  .contact-links {
    display: inline-block;
  }

  svg {
    height: 15%;
    width: 15%;
  }

  img {
    height: 115px;
  }

  svg:hover {
    opacity: .75;
  }

  img:hover {
    opacity: .75;
  }

  .contact-links * {
    margin-right: 20px;
    margin-left: 20px;
  }

}

.divider {
  text-align: center;
}

// -------------------------------------------------
// Landing Animation
// -------------------------------------------------
  
.content {
  position: absolute;
  top: 50%;
  left: 56%;
  transform: translate(-50%, -50%);
  overflow:hidden;
  
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  line-height: 40px;
  color: #ecf0f1;
  
  &__container {
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    padding: 0 0px;

    &__text {
      display: inline;
      float: left;
      margin: 0;
    }

    &__list {
      margin-top: 0;
      padding-left: 110px;
      
      text-align: left;
      list-style: none;
      
      -webkit-animation-name: change;
      -webkit-animation-duration: 8s;
      -webkit-animation-iteration-count: 1;
      animation-name: change;
      animation-duration: 8s;
      animation-iteration-count: 1;

      &__item {
        line-height:40px;
        margin:0;
      }
    }
  }
}

@-webkit-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-webkit-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
}

@-o-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-o-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
}

@-moz-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-moz-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
}
