@import 'vars';

* {
  font-weight: 100;
}

html {
  font-family: 'Karla', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:visited {
  color: $off-white;
}

a:hover {
  color: $light-blue;
}
