$off-white: rgb(250, 250, 250);
$med-blue: rgb(103, 151, 199);
$light-blue: rgb(191, 205, 223);
$dark-blue: rgb(52, 92, 132);
$lavender-blue: rgb(211, 230, 247);
$dark-slate: rgb(37, 55, 78);
$card-back: rgb(69, 165, 149);